<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body >
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">CRUD</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="users/list" >Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <h2>Merhaba</h2>
    <div class="alert alert-info">
        <strong>SAYFAYA GİT!</strong> Veri tabanı işlemlerinin(CRUD) yapıldığı sayfa.
        <a  href="/invoice/list" class="btn btn-primary ">HOME</a>

    </div>
</div>
<div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-3">
        <h3>KULLANILAN TEKNOLOJİLER</h3>
        <p>*JPA/Hibernate</p>
        <p>*SPRING MVC</p>
        <p>*Mysql</p>
        <p>*Thymeleaf</p>
        <p>*Jboss</p>
        <p>*Maven</p>
        <p>*Boostrapt</p>
        <p>*Tomcat 8</p>
    </div>
    <div class="col-sm-3">
        <h3>MİMARI YAPI (KATMANLAR)</h3>
        <p>-View</p>
        <p>-Controller</p>
        <p>-Servis</p>
        <p>-DAO/Repository</p>
        <p>-Entity/Domain</p>

    </div>
    <div class="col-sm-3">
    </div>
</div>


</body>
</html>